{% extends 'base.html' %}

{% block title %}
    DOE Corrosion Joint - Search
{% endblock title %}

{% block section_title %}
    SPR
{% endblock section_title %}

{% block description %}
    
{% endblock description %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1">

        <h3>Data</h3>

    </div>
    <table id="data" class="table text-center table-responsive-xl table-hover table-striped table-bordered">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                    <th>{{ col_name_trans[key] }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in data %}
            <tr>
                {% for key in row.keys() %}
                    <td>{{ row[key] }}</td>
                {% endfor %}               
            </tr>
            
            {% endfor %} 
        </tbody>   
    </table>

    {% block form %}
        <h3>Insert, Update, Delete</h3>
        <form method='post' action="" class="form-group">

            <div class="form-row form-group align-items-center ">

                {% for db_col_name, display_col_name in col_name_trans.items() %}
                    <div class="col-md-3">
                        <label for="{{ db_col_name }}">{{ display_col_name }}</label>
                        
                        {% if display_col_name == "Id" %}
                            <input type="text" class="form-control" name="{{ db_col_name }}", id="{{ db_col_name }}", placeholder="Enter if UPDATE or DELETE">

                        {% else %}
                            <input type="text" class="form-control" name="{{ db_col_name }}", id="{{ db_col_name }}" onkeyup="this.value = this.value.toUpperCase();">    
                        {% endif %}

                    </div>
                {% endfor %}

                <div class="col-md-12 mt-2">
                    <button type="submit" name = "button" value = "insert" class="btn btn-secondary">Insert</button>
                    <button type="submit" name = "button" value = "delete" class="btn btn-secondary">Delete</button>
                    <button type="submit" name = "button" value = "update" class="btn btn-secondary">Update</button>
                </div>

            </div>
        </form>

    {% endblock form %}

    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="http://localhost:8050">
    </div>
      

{% endblock content %}