{% extends 'base.html' %}

{% block title %}
    DOE Corrosion Joint - Search
{% endblock title %}

{% block section_title %}
    SPR
{% endblock section_title %}

{% block description %}
    <p>Test</p>
{% endblock description %}

{% block content %}



    {% block form %}
    
    {% endblock form %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1">

        <h3>Data</h3>

    </div>
    <table id="data" class="table text-center table-responsive-xl table-hover table-striped table-bordered">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                    <th>{{ col_name_trans[key] }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in data %}
            <tr>
                {% for key in row.keys() %}
                    <td>{{ row[key] }}</td>
                {% endfor %}               
            </tr>
            
            {% endfor %} 
        </tbody>   
    </table>


{% endblock content %}