{% extends 'base.html' %}

{% block title %}
    DOE Corrosion Joint - Search
{% endblock title %}

{% block section_title %}
    {% if table == "umich" %}
        SPR-Umich
    {% elif table == "psu_corrosion_product_rsw" %}
        Corrosion Product RSW-PSU
    {% elif table == "psu_corrosion_product_spr" %}
        Corrosion Product SPR-PSU
    {% endif %}
{% endblock section_title %}

{% block description %}

{% endblock description %}

{% block content %}

    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="../dashapp"></iframe>
    </div>
    

    {% block form %}
        <h3>Insert, Update, Delete</h3>
        <form method='post' action="" class="form-group">

            <div class="form-row form-group align-items-center ">

                {% for db_col_name, display_col_name in col_name_trans.items() %}
                    <div class="col-md-3">
                        <label for="{{ db_col_name }}">{{ display_col_name }}</label>
                        
                        {% if display_col_name == "Id" %}
                            <input type="text" class="form-control" name="{{ db_col_name }}" id="{{ db_col_name }}" placeholder="Required" required autocomplete="off">

                        {% else %}
                            <input type="text" class="form-control" name="{{ db_col_name }}" id="{{ db_col_name }}" autocomplete="off">    
                        {% endif %}

                    </div>
                {% endfor %}
                
                {% if "psu_corrosion_product_rsw" in table %}
                    LaTex input format example: $$ Al_{3}(OH)_3 $$
                {% endif %}
        

                <div class="col-md-12 mt-2">
                    <button type="submit" name = "button" value = "insert" class="btn btn-secondary">Insert</button>
                    <button type="submit" name = "button" value = "delete" class="btn btn-secondary">Delete</button>
                    <button type="submit" name = "button" value = "update" class="btn btn-secondary">Update</button>
                </div>

            </div>
        </form>

    {% endblock form %}

      

{% endblock content %}